.chat-room {
  flex-direction: column;
  position: fixed;
  bottom: 2em;
  right: 2rem;
  width: 23rem;
  background-color: #FCFEFC;
  z-index: 99;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #313538;
}

.chat-room img.close-chat-room {
  width: 1.2em;
  height: 1.2em;
  margin: 0.8rem 0.8rem 0.8rem auto;
  cursor: pointer;
}

.chat-input-group {
  display: flex;
  margin-top: auto;
  border-top: 1px solid #ddd;
}

.chat-input-group textarea {
  width: 85%;
  height: 4em;
  resize: none;
  padding: 0.5rem;
  border: none;
  outline: none;
  color: #313538;
  margin-right: auto;
  border-radius: 5px;
}

.chat-input-group img.send-message {
  width: 1.2em;
  height: 1.2em;
  margin: 1rem 1rem 1rem 0;
  cursor: pointer;
}

.chat-message {
  height: 20rem;
  /* height: 7rem; */
  padding: 0.8rem 1.2rem;
  font-size: 0.8rem;
  overflow: auto;
}

.chat-message small {
  font-style: italic;
  color: #333;
  font-weight: 500;
}

.chat-message>div {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  max-width: 45%;
  margin-bottom: 0.6rem;
  margin-bottom: 0.6rem;
}

.chat-message div.send {
  justify-content: end;
  margin-left: auto;
}

.chat-message div.receive {
  justify-content: start;
  margin-right: auto;
}

.chat-message span {
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.chat-message .send span {
  margin-left: 0.5rem;
  background-color: #313538;
  color: #fff;
}

.chat-message .receive span {
  margin-right: 0.5rem;
  background-color: #D5D7D5;
  color: #313538;
}

.chat-room-icon-group {
  align-items: center;
  position: fixed;
  bottom: 8.5rem;
  right: 2rem;
  z-index: 99;
  background-color: #fff;
  padding: 0.5rem 1.3rem;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #313538;
}

.chat-room-icon-group img {
  width: 1.8rem;
  height: 1.8rem;
}

.chat-room-icon-group span {
  margin-left: 0.5rem;
}